name: CI

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: c-hive/gha-yarn-cache@v1
      - name: Install
        run: yarn --frozen-lockfile
      - name: Build
        uses: ianwalter/puppeteer-container@v4.0.0
        with:
          args: npm run build
      - name: GitHub Pages
        uses: crazy-max/ghaction-github-pages@v2.1.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          target_branch: gh-pages
          build_dir: dist
          jekyll: false
